.welcome-color{
  color:pink;
}

.goal-color{
  color: pink;
  font-family: 'Amatic SC';
  font-size: 288%;
}
.about-color{
  color: pink;
  font-family: 'Amatic SC';
  font-size: 288%;
}

.goal{
  width: 10%;
  float: left;
}

.goal-text{
  width: 30%;
  float: left;
  background-color: pink;
  font-family: 'IM Fell Great Primer SC';
  font-size: 120%;
}

.goal-text-1{
  width: 30%;
}

.about{
  width:10%;
  float: left;
}
.about-text{
  width: 30%;
  float: left;
  background-color: pink;
  font-family: 'IM Fell Great Primer SC';
  font-size: 129%;
}
.about-text-1{
  width: 30%;
}

.mySlides{
  width:80%;
  height:40%;
  margin-left: 10%;
}
